<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fwhl.pretty" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name = "android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    
    <application
        android:name=".PrettyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        tools:replace="allowBackup">
        <activity
            android:name=".ui.WelcomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            />
        <activity android:name=".ui.PicDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            />
        <activity android:name=".ui.CategoryDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            />
        <activity android:name=".ui.DetailPagerActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            />

        <!--有米start -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <service
            android:name="net.youmi.android.AdService" 
            android:exported="false"
            >
        </service>
        <receiver
            android:name="net.youmi.android.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="splashAnim"
            android:value="true" />
        <!--有米end -->
    </application>

</manifest>
